@use 'variables';
@use 'sass:color';

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.home-container{
    @include variables.flexContainer(row);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.all-time-container{
    padding: .5rem;
    
    height: 40rem;
   
}
.all-time-header{
    @include variables.outerStyle
}
.all-time-player{
    @include variables.smallMatchContainer();
    @include variables.propertyFont;
    background-color: variables.$edit-bg;
    @include variables.center;
    @include variables.outerStyle

}
.main-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    
   
}



.matches-container{
    height: 40rem;
    width: 35rem;
    background-color: variables.$white-bg;
    padding: .5rem;
   
    position: relative;
    
    overflow-y: scroll;
}

.overflow-fade{
    height: 2rem;
    position: absolute;
    width: 35rem;
    
    background-color: rgb(33, 87, 87);
    
    bottom: 0;
    
}

.add-match{
    @include variables.flexContainer(column);

}
.add-btn-container{
    @include variables.addBtn();
    @include variables.outerStyle;
    
    &:hover{
        background: color.scale(variables.$add-bg, $lightness: 50%);

    }
}


.header-container{
    @include variables.flexContainer(row);
    @include variables.headerFont();
    padding-left: 1rem;
    @include variables.columnSize();
    border-radius: .1em;
    justify-content: space-between;
    background-color: variables.$black-bg;
    margin-bottom: .5rem;
}

.all-time-header{
    @include variables.center();
    @include variables.headerFont();
    padding: 0 1rem 0 1rem;
    @include variables.columnSize();
    border-radius: .1em;
    justify-content: space-between;
    background-color: variables.$black-bg;
    margin-bottom: .5rem;
}
.add-match-bar{
    @include variables.smallMatchContainer();
    justify-content: space-between;
    align-items: center;
    
   
    margin-bottom: .5rem;

}

.add-number{
    width: 2rem;
    height: 2rem;
    background-color: variables.$container-bg-black;
    @include variables.smallFont;
    color: variables.$white-bg;
    text-align: center;
}
.add-player{
    background-color: variables.$container-bg-black;
    width: 6rem;
    height: 2rem;
   
    @include variables.smallFont;
    color: variables.$white-bg;
}

.add-teamOne-header{
    background-color: variables.$win-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-right: 1px solid rgb(44, 44, 44);
}
.vs{
    @include variables.center;
    flex: .2;
    background-color: variables.$black-bg;
}
.add-teamTwo-header{
    background-color: variables.$loose-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.add-teamName{
    height: 1.5rem;
    
}