@use 'variables';


.home-container{
    @include variables.flexContainer(row);
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: variables.$container-bg
    
    
    
}



.matches-container{
    height: 90%;
    width: 35rem;
    background-color: variables.$white-bg;
    padding: .5rem
    
    // overflow-y: scroll;
}
.add-match{
    @include variables.flexContainer(column);

}
.add-btn{
    @include variables.addBtn();
}

.header-container{
    @include variables.flexContainer(row);
    @include variables.headerFont();
    padding-left: 1rem;
    @include variables.columnSize();
    border-radius: .1em;
    
    justify-content: space-between;
    
    
    background-color: variables.$black-bg;
    margin-bottom: .5rem;
}
.add-match-bar{
    @include variables.smallMatchContainer();
    justify-content: space-between;
    align-items: center;
    
   
    margin-bottom: .5rem;

}
