@use 'variables';

.small-match{
    @include variables.smallMatchContainer();
    justify-content: space-between;
    align-items: center;
    background-color: variables.$win-bg;
    margin-bottom: .5rem;
    @include variables.outerStyle   
}

.small-match-time-container{
    @include variables.center();
    flex-direction: column;  
    flex: 2;
}
.white-divider{
    width: 2px;
    border-radius: 1em;
    background-color: white
}

.small-match-display{
    @include variables.flexContainer(row);
    flex: 1;
}
.info-box{
    flex: 1;
    padding: 1rem;
    background-color: variables.$card-col2;
    border-bottom: 4px solid variables.$card-grey;
    @include variables.propertyFont();
    font-weight: 100;

}
.small-match-headerName{
    display: flex;
    @include variables.headerFont();
    @include variables.center();
    flex: 4   
}
.small-match-headerWin{
    display: flex;
    @include variables.headerFont();
    @include variables.center();
    padding: 0 1rem 0 1rem;
    flex: 1  
}

.small-match-date{
    @include variables.headerFont();
    font-size: 1rem;    
}

.small-match-time{
    @include variables.headerFont();
    font-size: .8rem;
    font-weight: 400;
}

.drowdown-container{
    position: relative;
    @include variables.center();  
    flex: 1;
}
.dropdown{
    width: 2rem;
    height:2rem;
    color: white;
    transition:.1s all;
    &:hover {
        transform: scale(120%)	
	}
}
.dropdown-delete{
    width: 2rem;
    height:2rem; 
    color: white;
    transition:.1s all;
    &:hover {
        transform: scale(90%)	
	}
}

.small-overlay{
    @include variables.flexContainer(row);
}

.divider{
    width: .1em;
    background-color: black;
}

.team-small-container{
    display: flex;
    flex-direction: column;
    flex: 1;    
}

.third{
    display: flex;
    flex: 1; 
}

.kill{
    width: 3rem;
}

.death{
    width: 3rem;
}

.property-container{
   display: flex;
    background-color: variables.$loose-bg;
    flex:1;
    @include variables.propertyFont   
}

.player-container{
    @include variables.center();
    border-bottom: .1em black solid;
    height: 1.9rem;
    justify-content: space-evenly;
    @include variables.smallFont;  
}

.big-match-btn-container{
    @include variables.flexContainer(row);
    background-color: variables.$black-bg;
}

.map-btn{
    flex: 1;
    @include variables.deleteBtn();
    background-color: variables.$card-col2;
    border-top: 4px solid variables.$card-grey;
}

.date-btn{
     flex: 1;
    @include variables.deleteBtn();
    background-color: variables.$card-col2;  
    border-top: 4px solid variables.$card-grey;

}
.delete-btn{
    @include variables.deleteBtn();
    border-top: 4px solid variables.$card-grey;
}
.close-btn{
    @include variables.deleteBtn();
    flex: 7;
    background-color: variables.$card-col2;
    border-left: 4px solid variables.$card-grey;
    border-top: 4px solid variables.$card-grey;
}

.save-btn{  
    @include variables.deleteBtn();
    background-color: variables.$add-bg;
    border-left: 4px solid variables.$card-grey;
    border-top: 4px solid variables.$card-grey;
}

.big-match-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: variables.$match-bg;
    margin-bottom: .5rem;
    @include variables.outerStyle 
}

.team-names-container{
    @include variables.smallMatchContainer();
    @include variables.headerFont();
    border-bottom: 1px solid rgb(44, 44, 44);
    
}
.teamOne-header{
    cursor: pointer;
    background-color: variables.$win-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-right: 1px solid rgb(44, 44, 44);
}
.teamTwo-header{
    cursor: pointer;
    background-color: variables.$loose-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-right: 1px solid rgb(44, 44, 44);
}
.team-big-container{ 
    display: flex;
    flex: 1;
    background-color: variables.$card-col2
}

.big-match-team{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;    
}

.b-m-row{
    display: flex;
    flex: 1;
    flex-direction: column;   
}

.b-m-col{
    display: flex;
    flex-direction: column;
    flex: 1;   
    font-weight: 600;
    justify-content: center;
}

.b-m-players{   
    background-color: variables.$card-col2;
    @include variables.propertyFont;
    padding: .3rem;   
    border-bottom: 4px solid variables.$card-grey;
}

.b-m-kills{  
    padding: .3rem;
    display: flex;  
    background-color: variables.$card-col2;
    @include variables.propertyFont;
    justify-content: center;
    border-bottom: 4px solid variables.$card-grey;

}
.b-m-deaths{
    padding: .3rem;
    display: flex;
    background-color: variables.$card-col2;
    @include variables.propertyFont;
    justify-content: center;
    border-bottom: 4px solid variables.$card-grey;
}

.b-m-kd{   
    background-color: variables.$card-col2;
    @include variables.propertyFont;
    justify-content: center;
}

.item{ 
    @include variables.SmallCardFont();
    @include variables.center();
    display: flex;
    flex:1;
    padding: .5rem;  
}

.items{ 
    cursor: pointer;
    @include variables.SmallCardFont();
    @include variables.center();
    padding: .5rem;
    display: flex;
    flex:1; 
    
}
.big-divider{
    width: 4px;
    background-color: variables.$card-grey;
}

@media only screen and (max-width: 786px) {
    .items{ 
        @include variables.SmallCardFont();
        font-size: .8rem;
        @include variables.center();
        justify-content: flex-start;
        width: 4rem;
        padding: .5rem;
        display: flex;
        flex:1; 
        
    }
}