@use 'variables';

.small-match{
    @include variables.smallMatchContainer();
    justify-content: space-between;
    align-items: center;
    background-color: variables.$loose-bg;
    border-radius: .1em; 
    margin-bottom: .5rem;
    
}

.small-match-time-container{
    @include variables.center();
    flex-direction: column;  
    flex: 2;
}
.white-divider{
    width: 2px;
    border-radius: 1em;
    background-color: white
}

.small-match-display{
    @include variables.flexContainer(row);
    flex: 1;
}

.small-match-headerName{
    display: flex;
    @include variables.headerFont();
    @include variables.center();
    flex: 4
    
}
.small-match-headerWin{
    display: flex;
    @include variables.headerFont();
    @include variables.center();
    flex: 1
    
}

.small-match-date{
    @include variables.headerFont();
    font-size: 1rem;
    
}

.small-match-time{
    @include variables.headerFont();
    font-size: .8rem;
    font-weight: 400;
}
.drowdown-container{
    position: relative;
    @include variables.center();
    
    flex: 1;
}
.dropdown{
    width: 2rem;
    height:2rem;
    color: white;
    transition:.1s all;
    &:hover {
        transform: scale(120%)
		
	}
    
    


}

.small-overlay{
    @include variables.flexContainer(row);
}


.big-match-container{
    position: relative;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: variables.$match-bg;
    margin-bottom: .5rem
    
}
.team-names-container{
    @include variables.smallMatchContainer();
   
    @include variables.headerFont()
    
}
.teamOne-header{
    background-color: variables.$win-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.teamTwo-header{
    background-color: variables.$loose-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.team-big-container{
    display: flex;
    flex: 1;

}
.divider{
    width: .1em;
    
    background-color: black;

}
.team-small-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
}
.third{
    display: flex;
    flex: 1;
    
    
}
.kill{
    width: 3rem;
}
.death{
    width: 3rem;


}
.property-container{
   display: flex;
    background-color: variables.$loose-bg;
    flex:1;
    
    @include variables.propertyFont
    
}

.player-container{
    @include variables.center();
    border-bottom: .1em black solid;
    height: 1.9rem;
    justify-content: space-evenly;
    @include variables.smallFont
    
}

.big-match-btn-container{
    @include variables.flexContainer(row);
   

}
.delete-btn{
    @include variables.deleteBtn();


}
.close-btn{
    @include variables.deleteBtn();
    background-color: rgb(0, 0, 0);


}

