@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$add-bg: #85A37B;
$win-bg: #1d85c2;
$loose-bg: #b93737;
$edit-bg: #FF9900;
$container-bg: #e6e6e6;
$container-bg-black: #161616;
$white-bg: #FFFFFF;
$black-bg: #000000;
$match-bg: #D7D7D7;
$delete-bg: #8a1a1a;
$card-grey: #949494;
$card-col2: #838383;

$hero-text-color: #dad0ee;
$primary-font: 'Roboto Condensed', sans-serif;
$header-font: 'Jost', sans-serif;
$box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.34);
$mobile-card-width: 90vw;

body{
    margin: 0;
    background-color: rgb(240, 240, 240);   
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
@mixin headerFont {
font-family: $primary-font;
font-size: 1.4em;
font-weight: 700;
color: $white-bg;
}

@mixin propertyFont {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: 700;
    color: $white-bg;
}
@mixin SmallCardFont {
    font-family: $primary-font;
    font-size: 1.3em;
    font-weight: 700;
    color: $white-bg;
}

@mixin smallFont {
    font-family: $primary-font;
    font-size: .9em;
    font-weight: 600;
    color: $black-bg;
}
@mixin flexContainer($dir: column) {
    display: flex;
    flex-direction: $dir;
}
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin columnSize() {
    align-items: center;
    height: 3rem;
}

@mixin addBtn() {
    border: none;
    padding: 0 1rem 0 1rem;
    font-family: $primary-font;
    height: 100%;
    font-size: .8em;
    font-weight: 700;
    background-color: $add-bg;
    color: $white-bg;
    transition: .1s all;
	cursor: pointer;
    
    // &:hover {
    //     background-color: $add-bg;
		
	// }
}
@mixin deleteBtn() {
    flex: 1;
    border: none;
    padding: 0 1rem 0 1rem;
    font-family: $primary-font;
    height: 2rem;
    font-size: 1em;
    font-weight: 700;
    background-color: $delete-bg;
    color: $white-bg;
    transition: .1s all;
	cursor: pointer;
	&:hover {
		
	}
}

@mixin smallMatchContainer {
    display: flex;
    height: 3rem;
    
}

@mixin outerStyle{
    box-shadow: 1px 1px 1px rgb(122, 122, 122);
    border: 1px solid rgb(44, 44, 44);
    border-radius: 2px; 

}